<app-navbar></app-navbar>
<div class="container regester_contr shadow-lg  bg-body rounded">

    <div class="row">
       
        <div class="col-lg-6">
            <!-- Default form register -->
    <form class="text-center   p-3 mt-5"  method="post" (ngSubmit)="onsubmit()">

        <p class="h4 mb-4 regester_p" >CONTACT</p>
  
        <div class="form-row mb-4">
          <div class="col">
            <!-- First name -->
            <input  [(ngModel)]="contact.prenom"   name="prenom" type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Prénom" required>
          </div>
          <div class="col">
            <!-- Last name -->
            <input  [(ngModel)]="contact.nom"   name="nom" type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Nom" required>
          </div>
        </div>
        <!-- E-mail -->
        <input  [(ngModel)]="contact.email"   name="email" type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" required>
        <!-- Phone number -->
        <input  [(ngModel)]="contact.telephone"   name="telephone" type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Téléphoner numéro" aria-describedby="defaultRegisterFormPhoneHelpBlock " required>
        <div class="mb-3 mt-4">
            <textarea  [(ngModel)]="contact.message" name="message"   class="form-control" id="exampleFormControlTextarea1" rows="3"  placeholder="message"></textarea>
        </div>
        <!-- Sign up button -->
        <button mdbBtn color="info" class="my-1" type="submit">Envoyer</button>
    </form>
      <!-- Default form register -->
        </div>
        <div class="col-lg-6  regetser_img" >
            <img src="..\assets\contact2.png" alt="" srcset="" width="100%">
        </div>
    </div>

</div>
