<app-navbar></app-navbar>
<div class="container connect_contr shadow-lg  bg-body rounded">

  <div class="row">
        
    <div class="col-lg-5">
            <!-- Default form register -->
    <form class="text-center  p-3  connect_form">

        <p class="h4 mb-4 connect_p"> Connecter</p>
  

        <!-- E-mail -->
        <input   type="text" id="defaultRegisterFormLastName" class="form-control mb-4" placeholder="Nom d'utilisateur" required>
  
        <!-- Password -->
        <input type="password" id="defaultRegisterFormPassword" class="form-control mb-3" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" required>

        <!-- Sign up button -->
        <button mdbBtn color="info" class="my-3" type="submit"> Connecter</button>
        
      <hr>

      <!-- Terms of service -->
      <p> Pour regester cliquez ici
        <a href="" target="_blank" routerLink="/regester">regester</a></p>
  
      </form>
      <!-- Default form register -->
    </div>
    <div class="col-lg-7  connect_img" >
      <img src="..\assets\connect2.png" alt="" srcset="" width="99%">
    </div>
  </div>

    
  
</div>
