<app-navbar></app-navbar>
<div class="container-fluid home_container">
    <div class="row">
        <div class="col-lg-4 nosservice" >
            <div class="  ">
                <h1 >Bienvenue à <samp>NosService</samp> </h1>
                <p class="">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                  featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a mdbBtn color="primary " size="lg" href="#" role="button"  mdbWavesEffect>Learn more</a>
            </div>
        </div>
        <div class="col-lg-7 imgnosservise "  >
            <img src="..\assets\hom1.png" alt="" srcset="" width="100%" height="100%">
        </div>
    </div>
</div>
